<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ShareYou</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/font/css/font-awesome.min.css">
		<link rel="stylesheet" href="/social/bootstrap-social.css">
		<link rel="stylesheet" href="/css/custom-nav.css">
		<link rel="stylesheet" href="/css/btn-custom.css">
		<link rel="icon" href="/img/share 2.png">
		<link rel="author" href="humans.txt">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
	</head>
	<body class="">
		{{{body}}}
		<!--{{#if succes_msg}}
			<div class="alert alert-succes">
				{{succes_msg}}
			</div>
		{{/if}}
		{{#if error_msg}}
			<div class="alert alert-danger">
				{{error_msg}}
			</div>
		{{/if}}
		{{#if error}}
			<div class="alert alert-danger">
				{{error}}
			</div>
		{{/if}}-->
		
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>