<div class="gri">
<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="home"><img src="/img/share 2.png" alt="" class="logo"></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left left" role="search">
				<div class="form-group input-group">
					<input type="text" class="form-control buscar" placeholder="Buscar">
					
					<span class="input-group-addon" role="button"><button type="submit" class="btn-custom"><i class="fa fa-search" aria-hidden="true"></i></button></span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="nobot"><a href="#porfile"><img src="/img/yop.jpg" alt="" class="porfile-photo nobot"></a></li>
				<li class="dropdown right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EXTRA <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="logout">Cerrar Sesion</a></li>
					</ul>
				</li>
			</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>		
		<div class="sep container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8 post">
				<div class="user">
					<p><img src="/img/yop.jpg" alt="" class="porfile-photo">
						<a href="#porfile" class="user-name"></a></p>
					</div>
					<form action="" class="form-group">
						<div class="form-group">
							<textarea name="post-text" id="post-text" cols="30" rows="10" class="form-control post-txt" title="Texto" placeholder="Que compartes?"></textarea>
						</div>
						<div class="form-group">
							<input type="link" class="form-control" placeholder="Youtube Link" >
						</div>
						<div align="right">
							<button class="btn btn-info" align=>ShareYou</button>
						</div>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="sep-post container-fluid">
				<div class="col-md-2"></div>
				<div class="col-md-8 post">
					<div class="user">
						<p><img src="/img/yop.jpg" alt="" class="porfile-photo">
							<a href="#porfile" class="user-name">UserName</a></p>
						</div>
						<div class="cont" align="left">
							One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought.
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
</div>