<div class="red">
	<div class="col-md-12 red" align="center" id="lo">
		<a href=".."><img src="/img/share 2.png" alt="" class="log-lg"></a>
	</div>
	<div class="red col-md-12" id="log">
		<div class="col-md-4"></div>
		<div class="col-md-4 log">
			<h2 class="line-bottom" align="center">ShareYou</h2>
			{{#if succes_msg}}
			<div class="alert alert-succes">
				{{succes_msg}}
			</div>
			{{/if}}
			{{#if error_msg}}
			<div class="alert alert-danger">
				{{error_msg}}
			</div>
			{{/if}}
			{{#if error}}
			<div class="alert alert-danger">
				{{error}}
			</div>
			{{/if}}
			{{{body}}}
			<form action="" method="post">
				<div class="form-group">
					<label for="username">Usuario</label>
					<input type="text" class="form-control" placeholder="User Name" name="username" autofocus="">
				</div>
				<div class="form-group">
					<label for="password">Contrasena</label>
					<input type="password" class="form-control" placeholder="Password" name="password">
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
			</form>
			<div class="line-top">
				<a href="register">No tienes cuenta? Registrate aqui.</a>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>