<div class="red">
	<div class="col-md-12" align="center">
		<a href=".."><img src="/img/share 2.png" alt="" class="log-lg"></a>
	</div>
	<div class="red">
	<div class="col-md-16 red" id="log2">
		<div class="col-md-2 red lo"></div>
		<div class="col-md-8 red" id="reg">
			<h2 class="line-bottom" align="center">ShareYou</h2>
			{{#if errors}}
			{{#each errors}}
			<div class="alert alert-danger">
				{{msg}}
			</div>
			{{/each}}
			{{/if}}
			<form action="/users/register" method="post">
				<div class="form-group">
					<label for="form-group">Nombre</label>
					<input type="text" placeholder="Name" id="name" class="form-control" autofocus="" name="name">
				</div>
				<div class="form-group">
					<label for="form-group">Nombre de Usuario</label>
					<input type="text" placeholder="User Name" id="username" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label for="form-grouop">Correo</label>
					<input type="email" placeholder="Email" id="email" class="form-control" name="email">
				</div>
				<div class="form-group">
					<label for="form-group">Contraseña</label>
					<input type="password" placeholder="password" id="password" class="form-control" name="password">
				</div>
				<div class="form-group">
					<label for="form-group">Confirma Contraseña</label>
					<input type="password" placeholder="password Confirm" id="repassword" class="form-control" name="cpassword">
				</div>
				<div class="form-group">
					<label for="form-group">Canal de YouTube</label>
					<input type="link" placeholder="YouTube Chanel" id="youtube-chanel" class="form-control" name="youtubech">
				</div>
				<div class="form-group">
					<label for="form-group">Página de Facebook</label>
					<input type="link" placeholder="Facebook Page" id="fb-page" class="form-control" name="fbpa">
				</div>
				<div class="form-group">
					<label for="form-group">Twitter</label>
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="text" placeholder="Twitter" class="form-control" id="twitter" name="twitter">
					</div>
				</div>
				<button class="btn btn-default btn-lg btn-block" type="submit">Registrar</button>		<br>
				<div class="line-top" align="center">
					<div class="col-md-6">
						<h6><a href="login.html">Ya tienes cuenta? Inicia Sesión aquí</a></h6>
					</div>
					<div class="col-md-6">
						<h6><a href="erasepassword.html">Olvidaste tu contraseña?</a></h6>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>