.navbar-custom {
  background-color: #b22132;
  border-color: #961c2a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d82e42), to(#b22132));
  background-image: -webkit-linear-gradient(top, #d82e42, 0%, #b22132, 100%);
  background-image: -moz-linear-gradient(top, #d82e42 0%, #b22132 100%);
  background-image: linear-gradient(to bottom, #d82e42 0%, #b22132 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd82e42', endColorstr='#ffb22132', GradientType=0);
  max-height: 50px;
}
.navbar-custom .navbar-brand {
  color: #000000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #000000;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 0px solid #961c2a;
}
.navbar-custom .navbar-nav > li > a {
  color: #000000;
  border-left: 0px solid #961c2a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #961c2a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#961c2a), to(#c12436));
  background-image: -webkit-linear-gradient(top, #961c2a, 0%, #c12436, 100%);
  background-image: -moz-linear-gradient(top, #961c2a 0%, #c12436 100%);
  background-image: linear-gradient(to bottom, #961c2a 0%, #c12436 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff961c2a', endColorstr='#ffc12436', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #941b2a;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #961c2a;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.logo{
  width: 50px;
  margin-top: -8px;
  margin-left: 50px;
}

.left{
  margin-left: 50px;
}

.buscar{
  width: 300px !important;
  border: none;
}

.porfile-photo{
  margin-top: -10px;
  width: 40px;
  border-radius: 10px;
}

@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #961c2a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;

  }
  .home{
    padding-bottom: 0%;

  }


  .logo{
    margin-left: 5px;
  }
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

@media (max-width: 600px) {
  .logo{
    margin-left: 5px;
  }

  .left{
    margin-left: -20px;
  }

  .buscar{
    width: 100%; max-width: 290px !important;
    border: none;
  }
  .home{
  padding-bottom: 0%;
}

}

.index{
  background-color: transparent !important;
  border-bottom: none;
}