#lo{
	padding-bottom: 0px;
}

.red{
	background-color: #B22132;
}

.home{
	padding-bottom: 44.3%;
}

div.gri.home{
	padding-bottom: 4.3%;
}

.gri{
	background-color: #EAEAEA;
}

#log{
	padding-top: 10px;
}

.log{
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.log-lg{
	width: 100%; max-width: 250px;
	padding-top: 10px;
}

.line-bottom{
	border-bottom: 1px solid #eee;;
}

.line-top{
	border-top: 1px solid #eee;
	margin-top: 5px;
	padding-top: 5px;
}

#reg{
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#log2{
	padding-bottom: 50px;	
}

.sep{
	padding-top: 70px;
}

.post{
	background-color: #fff;
	border: 1px solid none;
	box-shadow: 1px 1px 1px;
	border-radius: 10px;
	padding-bottom: 20px;
}

.right{
	margin-right: 50px;
}

div.user>p>img.porfile-photo{
	width: 50px;
	margin-top: 10px;
}
.nobot:hover{
	border-bottom: none !important;
}

.cont{
	margin-top: 10px;
}

.user-name{
	margin-left: 10px;
	font-size: 25px;
	padding-top: 10px;
}

.user-porfile{
	padding-top: 55px;
}

.img-port{
	width: 1000px;
	border: 5px solid #fff;
}

.img-porfile{
	width: 200px;
	margin-top: -120px;
	border: 5px solid #fff;
	margin-left: 225px;
}

.redes{
	background-color: #fff;
	width: 1000px;
	margin-top: -80px;
	margin-left: 180px;
	padding-left: 260px;
	padding-bottom: 30px;
	padding-top: 25px;
}

.youtube-btn{
	width: 140px !important;
}

.post-txt{
	height: 80px !important;
}

.sep-post{
	padding-top: 20px;
}

.nicknameu{
	color: #fff !important;
}

.nicknameu:hover{
	color: #eee;
}

@media (min-height: 614px) {
	.red{
		background-color: #B22132;
		padding-bottom: 155px;
	}
	.gri{
		background-color: #EAEAEA;
		padding-bottom: 140px;
	}
}

@media (min-height: 700px) {
	.red{
		background-color: #B22132;
		padding-bottom: 361px;
	}
	.gri{
		background-color: #EAEAEA;
		padding-bottom: 144px;
	}
	#lo{
		padding-top: 50px;
	}
}

@media (min-height: 360px;) {
	.red{
		padding-bottom: 0px;
	}
}